<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TestDataContainer" value="D:\Ayyappan\Official\ERS\Latest-Nunit\MoE.ERS.Tests.Automation\MoE.ERS.Tests.Automation.DataSource\TestData.xlsx" />
    <add key="ExecutableContainer" value="D:\Ayyappan\Official\ERS\Latest-Nunit\MoE.ERS.Tests.Automation\MoE.ERS.Tests.Automation\Release\TestDataAutomated.bat" />
  </appSettings>
</configuration>